{
  "plugins": [
    "stylelint-scss",
    "stylelint-no-unsupported-browser-features",
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-high-performance-animation"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-config-clean-order"
  ],
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss"],
      "rules": {
        "at-rule-no-unknown": null,
        "declaration-no-important": true,
        "keyframe-declaration-no-important": true,
        "import-notation": "string",
        "function-name-case": null,
        "function-url-no-scheme-relative": true,
        "function-url-quotes": "always",
        "scss/at-rule-no-unknown": null,
        "plugin/declaration-block-no-ignored-properties": true,
        "plugin/no-unsupported-browser-features": true,
        "plugin/no-low-performance-animation-properties": true
      }
    },
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ]
}
