@use 'animations.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background: white;
        font-family: var(--font-poppins), sans-serif;
    }

    a {
        text-decoration: none;
    }
}

@layer components {
    .glass-bg {
        @apply bg-clip-padding backdrop-filter backdrop-blur-sm;
    }

    .fade-in {
        animation: fade-in 2s ease-out forwards;
        @apply opacity-0;
    }
}
